.table-hover > tbody > tr:hover {
  /* background-color: #c0c0c0; */
  background-color: #f5f5f5;
}

body {
	background:url('/static/assets/img/library.jpg');
	background-size: 2000px 1000px;
	text-align: left;
	color: dark; 
	font-weight: bolder;
	font-style: italic;
	font-size: small;
}