<div ng-controller="addBibliotekaController">

<br>
<br>
<br>

	<form action="#!biblioteke" class="w3-container">
		
		<label> Naziv </label>
			<div>
				<input type = "text" class = "w3-input">
			</div>
		
		<label> Mesto </label>
			<div>
				<input type = "text" class = "w3-input">
			</div>
		
		<label> Adresa </label>
			<div>
				<input type = "text" class = "w3-input">
			</div>
		
		<label> Radno vreme </label>
			<div>
				<input type = "text" class = "w3-input">
			</div>
		
		<label> Broj telefona </label>
			<div>
				<input type = "text" class = "w3-input">
			</div>
		
		<label> Email </label>
			<div>
				<input type = "text" class = "w3-input">
			</div>
	</form>

</div>