<div ng-controller = 'bibliotekaController'>
 	
 	<br>
	<br>
	<table class="table table-hover">
		<tr style="background-color: grey">
			<th>ID</th>
			<th>Naziv</th>
			<th>Mesto</th>
			<!-- <th>Adresa</th>
			<th>Radno Vreme</th>
			<th>Broj Telefona</th>
			<th>E-mail</th> -->
			<th style="text-align:center">Actions</th>
		</tr>
		
		<tr ng-repeat="biblioteka in biblioteke">
			<td>{{ biblioteka.id }}</td>
			<td>{{ biblioteka.naziv }}</td>
			<td style="padding-right: 610px">{{ biblioteka.mesto }} <br><br> </td>
			<!-- <td>{{ biblioteka.adresa }}</td>
			<td>{{ biblioteka.radnoVreme }}</td>
			<td>{{ biblioteka.brojTelefona }}</td>
			<td>{{ biblioteka.email }}</td> -->
			<td>
<!-- 			<a class="btn btn-primary" href = "#!/biblioteke/view"><span class = 'glyphicon glyphicon-info-sign'></span> Info </a> -->			
			<button type = "button" class="btn btn-primary" ng-click = "getBiblioteka(biblioteka.id)"><span class = 'glyphicon glyphicon-info-sign'></span> Info </button>
			<button type = "button" class="btn btn-primary" ng-click = "navigateToKnjige(biblioteka.id)"><span class = 'glyphicon glyphicon-search'></span> Knjige </button>
			<button type = "button" class="btn btn-primary" ng-click = "navigateToClanovi(biblioteka.id)"><span class = 'glyphicon glyphicon-search'></span> Clanovi </button>
			</td>
		</tr>
	</table>
			<button type = "button" class="btn btn-primary" ng-click = "navigateToAddBiblioteka()"><span class = 'glyphicon glyphicon-pencil'></span> Nova biblioteka</button>
	
	
</div>