<div ng-controller = 'clanoviController'>
<br>
<br>

	<table class = "table table-hover">
		<tr style="background-color: green">
		    <th>Ime</th>
			<th>Prezime</th>
			<th>Clanska karta</th>
			<th>Adresa</th>
			<th>Telefon</th>
			<th>E-mail</th>
		</tr>
	
		<tr ng-repeat = "clan in clanovi">
			<td> {{clan.ime}} </td>
			<td> {{clan.prezime}} </td>
			<td> {{clan.clKarta}} </td>
			<td> {{clan.adresa}} </td>
			<td> {{clan.telefon}} </td>
			<td> {{clan.email}} </td>
		</tr>
		
	</table>

</div>