<div ng-controller = 'knjigaController'>
<br>
<br>

	<table class = "table table-hover">
		<tr style="background-color: green">
		    <th>Naziv</th>
			<th>Autor</th>
			<th>Inventarni broj</th>
			<th>Godina stampanja</th>
			<th>Godina zavodjenja</th>
		</tr>
	
		<tr ng-repeat = "knjiga in knjige">
			{{knjiga}}
			<td> {{knjiga.naziv}} </td>
			<td> {{knjiga.autor}} </td>
			<td> {{knjiga.inventBroj}} </td>
			<td> {{knjiga.godinaStampanja}} </td>
			<td> {{knjiga.godinaZavodjenja}} </td>
		</tr>
		
	</table>

</div>