<div ng-controller="viewBibliotekaController">

<br>
<br>
	<!-- <table class="table table-responsive">
		<tr style="background-color: #4CAF50;">
			<th>ID</th>
			<th>Naziv</th>
			<th>Mesto</th>
			<th>Adresa</th>
			<th>Radno Vreme</th>
			<th>Broj Telefona</th>
			<th>E-mail</th> 
			<th style="text-align:center">Actions</th>
		</tr>
		
		<tr ng-repeat="biblioteka in biblioteka" padding="100px">
		<tr>
			<span class="id">{{ biblioteka.id }}</span>
			<td>{{ biblioteka.naziv }}</td>
			<td>{{ biblioteka.mesto }}</td>
			<td>{{ biblioteka.adresa }}</td>
			<td>{{ biblioteka.radnoVreme }}</td>
			<td>{{ biblioteka.brojTelefona }}</td>
			<td style="padding-right: 200px">{{ biblioteka.email }}</td>
			<td>
			<button type = "button" class="btn btn-warning" ng-click = ""><span class = 'glyphicon glyphicon-edit'></span> Izmeni </button>
			<button type = "button" class="btn btn-danger" ng-click = "deleteBiblioteka(biblioteka.id)"><span class = 'glyphicon glyphicon-trash'></span> Obrisi </button>
			</td>
		</tr>
	</table>
	
	<div>
		<button type = "button" class = "btn btn-primary" ng-click = ""> Dodaj </button>
		<button type = "button" class = "btn btn-primary" ng-click = ""> Find </button>	
    </div> -->
    
    <form name="viewBibliotekaForm">
     	<div class="form-group">
			<label for="naziv">Naziv</label>
			<div>
				<input type="text" class="form-control" ng-model="biblioteka.naziv" id='naziv' ng-disabled="true" />
			</div> 
		</div>
		
		<div class="form-group">
			<label for="mesto">Mesto</label>
			<div>
				<input type="text" class="form-control" ng-model="biblioteka.mesto" id="mesto" ng-disabled="true" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="adresa">Adresa</label>
			<div>
				<input type="text" class="form-control" ng-model="biblioteka.adresa" id="adresa" ng-disabled="true" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="radnoVreme">Radno vreme</label>
			<div>
				<input type="text" class="form-control" ng-model="biblioteka.radnoVreme" id="radnoVreme" ng-disabled="true" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="brojTelefona">Broj telefona</label>
			<div>
				<input type="text" class="form-control" ng-model="biblioteka.brojTelefona" id="brojTelefona" ng-disabled="true" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="email">E-mail</label>
			<div>
				<input type="text" class="form-control" ng-model="biblioteka.email" id="email" ng-disabled="true" />
			</div>
		</div>
    <button type = "button" class="btn btn-warning" ng-click = ""><span class = 'glyphicon glyphicon-edit'></span> Izmeni </button>
	<button type = "button" class="btn btn-danger" ng-click = "deleteBiblioteka(biblioteka.id)"><span class = 'glyphicon glyphicon-trash'></span> Obrisi </button>
    </form>
	
</div>